backend:
  name: github
  repo: mudiera/mudiera.com
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: site
    label: Site Settings
    files:
      - name: general
        label: General
        file: content/site.json
        format: json
        fields:
          - label: Site Title
            name: siteTitle
            widget: string
          - label: Hero Title
            name: heroTitle
            widget: string
          - label: Hero Subtitle
            name: heroSubtitle
            widget: string

  - name: pages
    label: Pages
    files:
      - name: home
        label: Home Page
        file: index.html
        fields:
          - label: Title
            name: title
            widget: string
          - label: Body
            name: body
            widget: markdown
